.artPage {
    position: fixed;

    left: 42%;
    top: 50%;
    transform:translate(-50%, -50%);

    background: #3f3f3f8e;
    backdrop-filter: blur(50px);
    border:10px 10px;
    
    height: 100%;
    width: 60%;
}

.imgColumn {
    position: absolute;

    column-count: 4;
    column-gap: 50px;

    width: 100%;
    max-width: 100%;

    margin: 0 auto;

    left: 50%;
    transform:translate(-50%, 0%);

    overflow-x: visible;
}

.card {
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
    break-inside: avoid;
    background: #3f3f3f8e;
    cursor: pointer;
    height: auto;
    align-self: start;
}

.card-cover {
    overflow: hidden;
}

.card-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-info p{
    display:block;
    margin: 0px;
}

.card-title {
    font-size: 160%;
}

.card-author {
    float: left;
    color: rgb(206, 206, 206);
    font-size: 13 0%;
}

.card-date {
    color: rgb(206, 206, 206);
    font-size: 130%;
    float: right;
}

/* 灯箱遮罩层 */
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.9); /* 黑色半透明背景[reference:5] */
    display: none; /* 默认隐藏 */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: default; /* 图片本身不触发关闭 */
}

/* 灯箱中的大图 */
.lightbox-image {
    max-width: 200%;
    max-height: 200%;
    border-radius: 0;
    object-fit: contain; /* 保持比例，完整显示图片[reference:6] */
    cursor: default; /* 图片本身不触发关闭 */
    transition: transform 0.05s ease-out; /* 平滑缩放 */
    transform-origin: center center; /* 默认以图片中心缩放 */
}

/* 灯箱中的关闭按钮 */

.lightbox-closeButton {
    position: fixed;
    top: 20px;
    left: 20px;
}

.category-section {
    position: fixed;

    background: #2b2b2ba2;
    padding: 20px 10px;
    left: -100px;
    top: 40%;
}

.category-section a {
    display: fixed;
    margin: 10px 0px;
}

.category-section span {
    display: fixed;  
    justify-content: center;  
    align-items: center;   
}